{% extends "layout.html" %}
{% block title %}Trivia{% endblock %}
{% block main %}
<div class="container mx-auto mt-8 px-4 md:px-16 space-y-15">
    {% for category in categories %}
    <div class="space-y-10">
        <h2 class="text-center text-3xl font-semibold mb-8">{{ category.name }}</h2>
        <div class="grid grid-cols-2 gap-12">
            {% for trivia in trivias if trivia.category_name == category.name %}
            <div class="flex flex-col items-center space-y-6">
                <h3 class="text-2xl font-semibold text-center">{{ trivia.title }}</h3>
                <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl h-96 flex flex-col justify-center items-center space-y-6">
                    <img src="{{ trivia.image }}" alt="Imagen de trivia" class="w-[400px] h-[250px] rounded-lg">
                    <a href="/trivia/{{ trivia.trivia_id }}" style="background-color: #333c87;" class="text-white py-2 px-4 rounded hover:bg-blue-600 transition">Empezar</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Línea divisoria que recorre toda la página -->
    {% if not loop.last %}
    <div class=" h-2 my-8 py-0.5 "  style="background-color: #333c87;"   ></div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

